body {
  background-color: #111;
  color: #eee;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  background: #222;
  color: white;
}

button {
  background-color: #00c853;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #00e676;
}

canvas {
  margin-top: 10px;
}

#hotspotCodeDisplay {
  font-size: 16px;
  color: #66ff99;
  margin: 10px 0;
}

footer {
  margin-top: 40px;
  font-size: 12px;
  opacity: 0.5;
}
